:root {
    --background-principal: #d9d9d9;
    --background-header: #FDFDFD;
    --background-aside: #353535;
    --background-footer: #284B63;
    --summary: #e5e2e2;
    --label-contacto: #8D99AE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

input {
    border: none;
    outline: none;
}

main {
    width: 100%;
    height: 100vh;
    
    background-color: var(--background-principal);
}



header {
    background-color: var(--background-header);
    width: 100%;
    height: 3.75rem;
}


header img {

    padding: 0.5rem;
    margin-left: 1.5rem;
}

.container {
 display: flex;
}

aside {
    width: 340px;
    height: calc(100vh - 3.75rem);
    background-color: var(--background-aside);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    width: 100%;
    padding: 3rem 1rem 0 2rem;
}

ul li {
    list-style: none;
    margin-bottom: 1rem;
}

li a {
    text-decoration: none;
    color: #fff;
}

li a:hover {
    font-weight: 700;
}

footer {
    width: 100%;
    height: 5rem;
    background-color: var(--background-footer);

    padding: 2rem;

}

footer p {
    text-align: center;
    font-size: .75rem;
    color: #fff;
    opacity: 0.7;
}

section {
    width: calc(100% - 400px);
    height: calc(100vh - 3.75rem);

    display: flex;
    flex-direction: column;

    margin: 0px 0 0px 30px;

}

section h1 {
    font-size: 1.5rem;
    padding: 1rem 0;
}


details[open] {
    
    height: 100%;
    max-height: 200px;
    background-color: var(--background-header);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .2);
}

summary {
    padding: 1rem;
    background-color: var(--summary);
    font-size: 1rem;
    font-weight: 700;

    display: flex;
    justify-content: space-between;
}

summary span img {
    width: 1rem;
}


summary::marker {
    color: transparent;
}


.style-input {
    padding: 5px 0 2px 10px;
}

.input-group {
    margin-bottom: 1.25rem;
    display: flex;
    align-items: center;

}

.input-group label {
    padding-left: 1rem;
}



.style-contact {
    display: flex;
    align-items: center;

}

.label {
    color: var(--label-contacto);
    font-weight: 700;
}

.input-contact {
    width: 18rem;
    padding: 8px 0;
    background: transparent;
    border-bottom: 1px solid var(--summary);
    
}

.input-field {
    display: flex;
    flex-direction: column;

    margin-bottom: 5px;
    margin-right: 20px;
}

.btn-group {

    margin-top: 20px;
    display: flex;
    justify-content: flex-end;


}

button {
    width: 300px;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    font-size: 1rem;
    transition: .2s;
    cursor: pointer;
    
}

.btn-primary{
    background: #284B63;
    margin-left: 10px;
    color: #fff;

}

button:hover {
    filter: brightness(.8);
}